* {
    font-family: 'Simpsonfont', sans-serif;
    font-family: 'Akbar', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    z-index: 0;
    background-color: #92d4f7;
    position: relative; 
    width: 100%;
    height: 100%;
    background-image:url("./../design/nubes.png");
}

.logo {
    margin: 0;
    height: 13rem;
    z-index: 1;
    position: relative; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all{
    margin-left: 9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    #fetchbutton,
    .send,
    #filtro{
        font-size: medium;
        color: #ffd100;
        text-shadow: -2px 0px black, 0 2px black, 2px 0 black, 0 -2px black; 

    }
}

.principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid black;
    height: 30rem;
    width: 30rem;
}

#fetchbutton{
    border-color: #92d4f7;
    margin-bottom: 3rem;
    margin-left: 2rem;
    width: 10rem;
    height: 5rem;
}

#input{
    margin-left: 2rem;
    width: 9.5rem;
    height: 2.5rem;
}

#input-f{
    margin-left: 2rem;
    width: 9.5rem;
    height: 2.5rem;
}


.send{
    margin-bottom: 3rem;
    margin-left: 2rem;
    width: 10rem;
    height: 2.5rem;
}

#image{
    display: flex;
    height: 80%;
    width: 80%;
}

#quote {
    padding-right: 2rem;
    width: 30%;
    font-size: medium;
}

.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        font-weight: bolder;
        font-size: large;
        color: #ffd100;
        text-shadow: -3px 0px black, 0 3px black, 3px 0 black, 0 -3px black; 

    }
}

@media only screen and (max-width: 700px) {

    .all{
        flex-direction: column;
        margin-right: 7rem;
    }

    .principal{
        border: none;
        height: 30rem;
    }

    .buttons{
        flex-direction: row;
        #fetchbutton,
        .send,
        #filtro{
            font-size: medium;
            color: #ffd100;
            text-shadow: -2px 0px black, 0 2px black, 2px 0 black, 0 -2px black; 
    
        }
    }

    #fetchbutton{
        margin-left: 0;
        width: 9rem;
        height: 5rem;
    }
    .segundo{
        margin-left: 4rem;
    }

    #input{
        margin-left:0;
        width: 5rem;
        height: 2.5rem;
    }
    
    #input-f{
        margin-left: 0;
        width: 5rem;
        height: 2.5rem;
    }
    
    
    .send{
        margin-left: 0;
        width: 5.5rem;
        height: 2.5rem;
    }

}